<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <h3>{{ title }}</h3>
        <hr>        
      </div>

      <div class="row">
        <div class="col-2">
          <ul>
            <li>link1</li>
            <li>link1</li>
            <li>link1</li>
          </ul>
          <app-outro></app-outro>
          <div style="border: 1px solid magenta">
            <app-posts></app-posts>
          </div>
        </div>      
        <div class="col">
          <div style="border: 1px solid red">
            <app-recorder></app-recorder>
          </div>
          <div style="border: 1px solid black">
            <app-posts></app-posts>
          </div>          
        </div>
    </div>    
  </div>
</div>